@charset "utf-8"; 

@font-face {
	font-family: mg;  
	font-style: normal;
	font-weight: 100;
	src:url('fonts/MalgunGothic.eot');
	src:local(※),
	url('fonts/MalgunGothic.eot?#iefix') format('eot'),
	url('fonts/MalgunGothic.woff') format('woff'),
	url('fonts/MalgunGothic.ttf') format('truetype');
}
*{margin:0; padding:0;}
* {-webkit-box-sizing: border-box; box-sizing: border-box;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, 
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
html,body{height: 100%;}
body{font-family:'맑은고딕', 'Malgun Gothic', mg, dotum, gulim, Arial,verdana, sans-serif; font-size:15px; -webkit-text-size-adjust:none; -webkit-font-smoothing: antialiased;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
h1, h2, h3, h4, h5, h6{font-size:100%; font-weight:normal}
b,strong{font-weight:bold}
 i, address, em{font-style:normal; font-weight:normal}
dl, ul, ol, menu, li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after, q:before, q:after{content:'';  content:none}
a{color:inherit; text-decoration:none; -webkit-transition:all 0.2s ease; transition:all 0.2s ease;}
a:visited, a:hover, a:active{text-decoration:none; outline:none}

table{border-collapse:collapse;border-spacing:0; width:100%;}
caption, legend{ position:absolute; width:0; height:0; font-size:0; line-height:0; overflow:hidden; visibility:hidden; }
img, fieldset, iframe{border:0 none}
button,input,optgroup,select,textarea{color:inherit;font:inherit; padding:0;vertical-align:middle;outline:none}
button{border:0 none; background-color:transparent; cursor:pointer; overflow:visible}
button[disabled],input[disabled]{cursor:default}
textarea{overflow:auto; resize:none;}
textarea:focus, input:focus{outline: none;}
input[placeholder]{color:#888}
::selection {color: red; background: yellow;}

video, audio{display: inline-block;}

.hide{position:absolute; top:0; left:0; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999em}
.hidden{display:none; visibility:hidden}
.clearfix:after{display:block; clear:both; content:'.'; overflow:hidden; visibility:hidden; height:0}
*:first-child+html .clearfix{zoom:1;}/*ie7*/

#skipnavi{text-align:center;}
#skipnavi a{position:absolute; left:0; top:-9999em; font-size:16px;}
#skipnavi a:hover, #skipnavi a:active, #skipnavi a:focus{width:100%; padding:5px 0; display:block; top:0; z-index:1; background:#000; font-weight:bold; color:#fff;}
